.clr{
    background-color: rgb(39,46,57);
}
#top-rounded{
    border-radius: 50px 50px 0px 0px;
    
}
#three-rounded{
    border-radius: 50px 50px 0px 50px;
}
.text-mini{
    /* transition: .7s; */
    font-size: large;
    font-weight: 300;
    letter-spacing: 0.5px;

}
.text-mini:hover{
    color: rgb(215, 55, 82);
    transition: .7s;
}
.btn-change{
    transition: .7s ;
}
.btn-change:hover{
    transition: .9s ease-in-out;
    background-color: rgb(242, 62, 92);
    color: aliceblue;
}
.trans{
    transition: 1.5s;
    padding: 3px; 
    background-color: rgb(27, 24, 24);
    color: white;
}
.tog{
    border: 0;
}
.tog:focus{
    border: none;

}
.navstick{
    position: -webkit-sticky; 
  position: sticky;
  top: 0;
}
